.header img {
  max-width: 90px;
  display: inline;
}

.header h1 {
  font-family: "Satisfy", cursive;
  color: #f48059;
  display: inline;
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.jumbotron h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 48px;
}

.featured h2 {
  text-transform: uppercase;
}

.featured .item {
  padding: 0 5px;
}

.featured .item .thumbnail {
  background-color: #edf1f4;
}

.thumbnail {
  min-height: 405.5px;
}

.services h2 {
  text-transform: uppercase;
}

.services ul li a {
  text-transform: uppercase;
  color: #61aee6;
}

footer {
  background-color: #231f20;
  padding: 15px;
}

footer .row {
  margin: 0;
}

footer img {
  max-width: 150px;
}

footer a {
  color: #ddd;
}

footer .border {
  border-left: 1px solid #333;
}

footer .copyright {
  color: #505050;
  font-size: 18px;
}

.map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
